<div class="wrapper">
    <app-sidebar style="background: white !important;"></app-sidebar>

    <div class="main">
        <nav class="navbar navbar-expand navbar-theme">
            <a class="sidebar-toggle d-flex mr-2">
                <i class="hamburger align-self-center"></i>
            </a>
        </nav>
        <main class="content">
            <div class="container-fluid">

                <div class="header">
                    <h1 class="header-title">
                        Clientes
                    </h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a [routerLink]="['/dashboard']" >Dashboard</a></li>
                            <li class="breadcrumb-item"><a [routerLink]="['/clientes']" >Clientes</a></li>
                            <li class="breadcrumb-item"><a>Registrar cliente</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    
                    <div class="col-12 col-xl-12">
                        <form #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Listado de clientes</h5>
                                </div>
                                <div class="card-body">
                                   <div class="row">
                                       <div class="col-lg-4">
                                            <div class="form-group">
                                                <label><b>Nombres del cliente</b></label>
                                                <input type="text" class="form-control" #nombres="ngModel" name="nombres" [(ngModel)]="cliente.nombres" placeholder="Nombres completos" required>
                                            </div>
                                       </div>
                                       <div class="col-lg-4">
                                            <div class="form-group">
                                                <label><b>Correo del cliente</b></label>
                                                <input type="email" class="form-control" #correo="ngModel" name="correo" [(ngModel)]="cliente.correo" placeholder="Correo Electrónico" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label><b>DNI del cliente</b></label>
                                                <input type="number" class="form-control" #dni="ngModel" name="dni" [(ngModel)]="cliente.dni" placeholder="Numero del D.I" required>
                                            </div>
                                        </div>
                                   </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-success" type="submit">Registrar cliente</button>
                                </div>
                            </div>
                        </form>
                    </div>
    
                </div>



               
            </div>
        </main>
       
    </div>
</div>